.login-container {
    width: 100%;
}

.sidebar .nav-item .nav-link[data-toggle=collapse]::after {
    content: '' !important;
}

a.portal-link {
    text-decoration: none !important;
}

a.portal-link:hover {
    color: #fff !important;
}

.dataTables_length select.form-select.form-select-sm {
    display: inline-block !important;
    height: calc(1.5em + .75rem + 2px) !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #6e707e !important;
    vertical-align: middle !important;
    border: 1px solid #d1d3e2 !important;
    border-radius: .35rem !important;
}

a.status-button:hover {
    text-decoration: none !important;
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

img.img-profile {
    height: 52px !important;
    width: 52px !important;
}

a.citizen-view-document:hover,
a.citizen-view-post:hover {
    text-decoration: none;
    color: unset;
}

a.citizen-view-document,
a.citizen-view-post {
    text-decoration: none;
    color: unset;
}

button.react-button {
    background-color: transparent;
    border: none;
}

#page-top {
    visibility: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.forum.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.forum.visible {
    opacity: 1 !important;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
  }
  .loader:before {
    content:"Loading..."
  }
  @keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}